body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.profile_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

#profile_img {
  width: 150px;
  border-radius: 100%;
}

.card_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
  width: 1300px;
  height: 65px;
  padding: 10px 30px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  margin-bottom: 24px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  scale: 0.9;
}

a {
  text-decoration: none;
  color: #000;
}

.card:hover {
  cursor: pointer;
}

.social_links {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social_links a img {
  width: 25px;
  padding-right: 10px;
}