@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
  color: #101828;
}

.profile_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 20px;
}

.profile_section h2 {
  color: #101828;
}

#profile_img {
  width: 150px;
  border-radius: 100%;
}

.card_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  border: none;
  width: 1200px;
  height: 55px;
  padding: 10px 30px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  border-radius: 8px;
  margin-bottom: 29px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

a {
  text-decoration: none;
  color: #000;
}

.card:hover {
  cursor: pointer;
}

.social_links {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social_links a img {
  width: 25px;
  padding: 0  15px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 100px 50px;
  width: 1300px;
  border-top: #000 2px;
}

footer a img {
  width: 200px;
  padding-right: 10px;
}

footer p {
  color: #667085;
}